@charset "utf-8";
.blackSheet{
    background: #000;
    opacity: 0.3;
    top: 0px;
    left: 0px;
    position: absolute;
    display: none;
}
.taskForm,
.configSelect,
.classForm,
.groupForm{
    background:#FFF;
    width: 80%;
    max-width: 300px;
    max-height: 300px;
    left:50%;
    top:50%;
    position:absolute;
    display: none;
    z-index: 1;
}

.classFormColor{
    width: 10px;
    height: 10px;
    border: 1px solid #333;
}
.colorCheck{
    border: 3px solid #8B0000;
}

.staffCheck{
    background: #1d2939;
    color:#EEE;
}